{% extends 'base.html'%}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>
<script>
VANTA.BIRDS({
  el: "#intro",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  backgroundColor: 0x2f072c,
  color1: 0xf700f7,
  color2: 0x400045,
  colorMode: "lerp"
})
</script>
{% endblock %}
